.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #393E46;
  }
  
  h1,h2 {
    margin: 30px;
    margin-bottom: 0;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
  }
  
  p,th,td {
    font-size: 1.75rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 50%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  h2{
    font-size: 3rem;
    color: peru;
  }
  table{
    margin: auto;
    font-size: 2.5rem;
    margin-top: 25px;
  }
  td{
    text-align: left;
  }
  table+p{
    font-size: 2.5rem;
    color: greenyellow;
    margin-top: 5px;
  }